#game_player_form
  = form_for(@game_player) do |f|
    - if @game_player.errors.any?
      #error_explanation
        %h2= "#{pluralize(@game_player.errors.count, 'error')} prohibited this user from being saved:"
      
        %ul
          - @game_player.errors.full_messages.each do |msg|
            %li= msg
  
    .field#game_id_field
      = f.label :game_id
      %br
      = render_form_association_field(f, 'game')
    .field#player_id_field
      = f.label :player_id
      %br
      = render_form_association_field(f, 'player')
    .field#travian_userid_field
      = f.label :travian_userid
      %br
      = f.text_field :travian_userid
    .field#travian_username_field
      = f.label :travian_username
      %br
      = f.text_field :travian_username
    .field#tribe_id_field
      = f.label :tribe_id
      %br
      = render_form_association_field(f, 'Tribe')
    .field#alliance_member_id_field
      = f.label :alliance_member_id
      %br
      = render_form_association_field(f, 'alliance_member')
    .field#comments_field
      = f.label :comments
      %br
      = f.text_area :comments
    .actions
      = f.submit
